@model IEnumerable<FoodProject.Data.Models.Food>

<h2 style="text-align:center;">Popüler Ürünlerimiz</h2>
<div class="agile_top_brands_grids">
    @foreach (var item in Model)
    {
        <div class="col-md-3 top_brand_left" style="margin-bottom:50px">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="/Default/ProductDetails/@item.FoodID"><img title=" " alt=" " style="width:400px; height:150px;" src="~/Resimler/@item.ImageURL" /></a>
                                    <p>@item.Name</p>
                                    <h4>@item.Price ₺ </h4><h6>Stok: @item.Stock</h6>
                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <form>
                                        <fieldset>
                                            @*  <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                        <input type="hidden" name="amount" value="7.99" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="USD" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="Sepete Ekle" class="button" />*@
                                            <a href="/Order/Index/@item.FoodID" class="btn btn-danger">Sepete Ekle</a>
                                        </fieldset>

                                    </form>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"> </div>
</div>