@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FoodStore Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Default/Index/">FoodStore</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Category/Index/">Category</a></li>
                <li><a href="/Food/Index/">Food</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Google Charts  <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a class="dropdown-item" role="menuitem" href="/Chart/Index/">Pie Chart</a></li>
                        <li role="presentation"><a class="dropdown-item" role="menuitem" href="/Chart/Index2/">Column Chart</a></li>
                        <li role="presentation"><a class="dropdown-item" role="menuitem" href="/Chart/Index3/">Dynamic Chart</a></li>
                    </ul>
                </li>
                <li><a href="#">Popup</a></li>
                <li><a href="/Chart/Statistics/">Statistics</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="/Login/LogOut/">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>

