@{
    ViewData["Title"] = "CategoryDetails";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="top-brands">
    <div class="container">
        <h3>Ürünlerimiz</h3>
        @await Component.InvokeAsync("FoodListByCategory",new{id = @ViewBag.ID}) @* CategoryDetails action'ından gönderilen ID FoodListByCategory componentine taşınıyor*@
    </div>
</div>
