<div class="footer">
    <div class="container">
        <div class="col-md-4 w3_footer_grid">
            <h3>İletişim</h3>
            <ul class="w3_footer_grid_list">
                <li>
                    <p>Halide Edip Adıvar Mahallesi</p>                    
                    <p>Darülaceze caddesi No:3A</p>
                    <p>BOMONTİ / ŞİŞLİ – İSTANBUL</p>                   
                </li>
                <li><i class="fa fa-phone" aria-hidden="true"> </i> (+0123) 234 567</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a id="mailLower" href="mailto:foodstore@gmail.com"> foodstore@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-md-4 w3_footer_grid">
            <h3>Sayfalar</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/Default/Index/">Ana Sayfa</a></li>
                <li><a href="/Default/Products/">Ürünlerimiz</a></li>
                <li><a href="/Default/About/">Hakkımızda</a></li>
                <li><a href="/Default/Contact/">Bize Ulaşın</a></li>              
            </ul>
        </div>
        <div class="col-md-4 w3_footer_grid">
            <h3>Bizimle iletişime geçin</h3>
            <div class="w3_footer_grid_bottom">
                <ul class="agileits_social_icons">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        @* <div class="col-md-3 w3_footer_grid">
        <h3>twitter posts</h3>
        <ul class="w3_footer_grid_list1">
        <li>
        <label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>
        Non numquam <a href="#">http://sd.ds/13jklf#</a>
        eius modi tempora incidunt ut labore et
        <a href="#">http://sd.ds/1389kjklf#</a>quo nulla.
        </span>
        </li>
        <li>
        <label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>
        Con numquam <a href="#">http://fd.uf/56hfg#</a>
        eius modi tempora incidunt ut labore et
        <a href="#">http://fd.uf/56hfg#</a>quo nulla.
        </span>
        </li>
        </ul>
        </div>*@
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            @*<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
            <div class="w3_footer_grid_bottom">
            <h4>100% secure payments</h4>
            <img src="~/ETicaretTema/images/card.png" alt=" " class="img-responsive" />
            </div>
            </div>*@
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">
            <p>© @DateTime.Now.Year FoodStore. Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>