<div class="w3l_banner_nav_right">
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="w3l_banner_nav_right_banner">
                        <h3>En leziz gıdalar <span>yemekler</span> ve Baharatlar.</h3>
                        <div class="more">
                            <a href="#" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Şimdi Al</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner1">
                        <h3>Tamamen organik <span>doğal</span> ürünler.</h3>
                        <div class="more">
                            <a href="#" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Şimdi Al</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner2">
                        <h3>Doğal içeceklerde<i>50%</i> indirim.</h3>
                        <div class="more">
                            <a href="#" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Şimdi Al</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- flexSlider -->
    <link rel="stylesheet" href="~/ETicaretTema/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/ETicaretTema/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
</div>
