@model IEnumerable<FoodProject.Data.Models.Subscribe>

<div class="newsletter">
	<div class="container">
		<div class="w3agile_newsletter_left">
			<h3>Bültenimize kaydolun.</h3>
		</div>
		<div class="w3agile_newsletter_right">
			<form action="Subscribe" controller="Default" method="post">
				<input type="email" name="EMail" value="E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}" required="">
				<input type="submit" value="Abone Olun">
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>