
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Foods Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />   @*site ikonu*@
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" controller="Login" action="Index" method="post">
					<span class="login100-form-title p-b-70">
						Foods Admin Panel
					</span>
					<span class="login100-form-avatar">
						<img src="~/Login/images/login2.jpg" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
						<input class="input100" type="text" name="UserName">
						<span class="focus-input100" data-placeholder="Kullanıcı Adınız"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="Password">
						<span class="focus-input100" data-placeholder="Şifreniz"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Giriş Yap
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<a href="/Default/Index/" class="txt2">
								Anasayfaya Dön
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login/js/main.js"></script>

</body>
</html>
